notebook.ljones.id.au
gzip
log syslog
errors syslog
proxy / localhost:8888 {
  transparent
}
proxy /terminals/websocket localhost:8888 {
  transparent
  websocket
}
rewrite {
  r "~* /(api/kernels/[^/]+/(channels|iopub|shell|stdin)|terminals/websocket)/?"
  to /api/kernels/{uri}
}
proxy /api/kernels localhost:8888 {
  transparent
  websocket
}

